/* GENERAL */
body
{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6
{
    font-weight: bold;
}
img
{
    max-width: 100%;
    height: auto;
}
ul,ol
{
    list-style:none;
}
section
{
    padding: 45px 0 80px 0;
}
section .heading 
{
    text-align: center;
    padding-bottom: 40px;        
}
section .heading h2
{
    text-transform: uppercase;
}
.red-divider
{
    width:100px;
    height: 2px;
    background: #CC0000;
    margin: 0 auto;
}
.white-divider
{
    width:100px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
}


/* EXPERIENCE */
#experience
{
    background: #CC0000;
}
#experience .heading h2
{
    color: #fff;
}
.timeline
{
    padding: 30px 10px;
    position: relative;
}
.timeline:before
{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background-color: yellow;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li
{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after
{
    clear: both;
}
.timeline > li:before, .timeline > li:after
{
    content: " ";
    display: table;
}
.timeline li .timeline-badge
{
    color: #CC0000;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #ddd;
    border-radius: 50%;
}
.timeline-panel-container
{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted
{
    width: 50%;
    float: right;
}
.timeline-panel
{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0, 0.175);
    background: #fff;
}
.timeline-panel-container-inverted .timeline-panel
{
    float: left;
    margin-left: 40px;
}

.timeline-panel:after
{
    position:absolute;
    top: 27px;
    right: -14px;
    display:inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after
{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3
{
    margin-top: 5px;
    font-size: 20px;
}
.timeline-heading h4
{
     color: #CC0000;
}


    
/* navbar */


html,
body,
header,
.jarallax {
  height: 60px;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .jarallax {
    height: 10vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .jarallax {
    height: 10vh;
  }
}

@media (min-width: 560px) and (max-width: 650px) {
  header .jarallax h1 {
    margin-bottom: 1.5rem !important;
  }
  header .jarallax h5 {
    margin-bottom: 1.5rem !important;
  }
}

.top-nav-collapse {
    background-color: #CC0000 !important;
}
.navbar:not(.top-nav-collapse) {
    background: #CC0000!important;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #CC0000 !important;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #CC0000 !important;
    }
}
h5 {
    letter-spacing: 3px;
}


